body {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    border-bottom: 4px dashed #ccc;
}

main {
    border-right:4px dashed #ccc;
    border-left:4px dashed #ccc;
    padding: 1em;
}

.site-header {
    background: #2d5e70;
    color: #fff;
    padding: 50px 0;
    margin-top: 1em;
    font-size: 3em;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.site-footer {
    background: #2d5e70;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav {
    background: #d2d2d2;
    color: #000000;
    text-align: center;
    padding: 1em 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}