{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>API</h1>
    <h2>/api/quote/</h2>
    <p>Returnerar ett slumpmässigt citat samt datum och tid.</p>

{% endblock %}