{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<br>
    <nav>
        <ul>
            <li><a href="{{ path('session') }}">Session</a></li>
            <li><a href="{{ path('session-delete') }}">Delete session</a></li>
            <li><a href="{{ path('card') }}">Card</a></li>
        </ul>
    </nav>
{% endblock %}