{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
<h1>Game Over</h1>
{{ include('_flash.html.twig') }}
<h2>Player Cards</h2>
{% for card in playerCards %}
    {{ card }}
{% endfor %}
<h2>Dealer Cards</h2>
{% for card in dealerCards %}
    {{ card }}
{% endfor %}
<a href="{{ path('twenty-one') }}">Play again</a>
{% endblock %}