{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>21</h1>
    <p>
        Här kan du spela 21.
        <a href="{{ path('twenty-one') }}">New Game</a>
        <a href="{{ path('game-doc') }}">Doc</a>
    </p>
{% endblock %}