{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>21</h1>
    <p>
        Här kan du spela 21.
        <a href="{{ path('twenty-one') }}">New Game</a>
        <a href="{{ path('game-doc') }}">Doc</a>
    </p>
    <p>
        Jag implemeterade spelet 21. Spelet går ut på att dra kort och försöka komma så nära 21 som möjligt utan att överskrida det.
        Man tävlar mot banken. Först drar du så många kort du vill och stannar när du är nöjd.
        Sedan spelar banken. Här är bankens startegi mycket enkel då den alltid drar kort tills den har 17 eller mer.
    </p>
{% endblock %}