{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om Martin</h1>
    <p>Jag heter Martin och bor i Stockholm. Jag pluggar kurspaketet på BTH. Det här är sidan för MVC-kursen.
        Nedan följer en generisk bild.
    </p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a>
{% endblock %}