{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Redovisningstexter</h1>
    <h2 id="kmom01">Kmom01</h2>
    <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
    <p>
        Jag läste oopython-kursen förra våren så därifrån har man med sig en del. Utöver det har jag
        programmerat en hel del tidigare på egen hand och är ganska van med OO tankesättet.
    </p>

    <h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
    <p>
        Det går att skapa ett generisk objekt med stdClass men för att möjliggöra inkapsling så är det bättre att skapa sina egna klasser.
        Det är viktigt skilja på klassen och en instans av klassen. Det kan exemplevis finnas en klass som beskriver vad en bil är och olika metoder som den kan utföra.
        För att skapa en specifik bil skapas en instans av bilklassen. Inkapsling gör att vi kan skapa något som liknar ett API mot klassen där de som använder klassen inte behöver ha någon vetskap om dess implementation.
        På det sättet är det möjligt att ändra hur en klass fungerar internt utan att de som använder klassen behöver göra några ändringar.
    </p>

    <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
    <p>
        De delar vi har arbetat med än så länge känns ganska tydliga. Det finns en del mappar som jag ännu inte riktigt vet vad de är till för som translations, var, vendor etc.
        Detta antar jag att man kommer få grepp om under kursens gång. Jag har tidigare arbetat en del med django vilket verkar ha en liknande struktur med mvc tankesättet så det blir intressant att jämföra dessa.
    </p>

    <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
    <p>
        Jag har inte hunnit läsa allt än men jag tycker att det är intressant att läsa om tester och testdriven utveckling.
        Det är en del som jag skulle vilja bli bättre på och har delvis experimenterat med på egna projekt. Kombinationen av funktionella och unit test är spännande.
    </p>

    <h3>Vilken är din TIL för detta kmom?</h3>
    <p>
        Det stora med det det här kursmomentet var mest bara att få fötterna lite blöta med symfony. Jag ser fram emot kommande kmom.
    </p>

    <h2 id="kmom02">Kmom02</h2>
    <h3>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</h3>
    <p>
        Arv är när en klass ärver egenskaper och metoder från en förälderklassdel. Det är en is-a relation.
        Komposition är en har-en relation där en klass innehåller en instans av en annan klass.
        Interface är ett löfte från en klass att erbjuda vissa metoder.
        Trait är en samling av medlemsvariabler och metoder som användas för att lägga på funktionalitet på en klass. Det blir en använder relation till klassen.
    </p>


    <h3>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</h3>
    <p>Jag tycker att min lösning blev ganska bra. Just nu ligger möjliga suits och values på kort i kortklassen. Egentligen skulle man kanske vilja att detta löses på ett annat sätt.
        Om man exemplevis skulle vilja ha andra suits eller värden än vad som är standard i en kortlek. För API-delen blev jag lite förvirrad vad man ville då det inte går att nå POST via webbläsaren.
        Jag provade att köra mina routes med curl så att de fungerade och det gick men sedan fick jag förslag att skapa formulär på /api routen vilket jag då gjorde istället.
        För att inte skicka parametrar via url så skapade jag en separat route /api/deck/draw-mutliple som använde Request istället.
        Jag gjorde också lite kontroll av vad som gavs för parametrar till min klasskonstruktorer för att se till att rätt värden gavs och kastade annars en beskrivande InvalidArgumentException.
        Jag tror att det kan vara nyttigt att jobba lite mer på det sättet med att försöka bygga lite stabilare lösningar då det ofta på skoluppgifterna blir att man endast löser exakt den inputen som finns i kraven och hanterar inget när det går fel.
        Nu var inte detta fullständigt men ett steg i rätt riktning skulle jag tro.
    </p>

    <h3>Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</h3>
    <p>
        Jag måste säga att det känns trevligt. View och Controller känns som att det är ganska enkelt att jobba med och flödet känns naturligt.
    </p>

    <h3>Vilken är din TIL för detta kmom?</h3>
    <p>
        Det kändes givande att fundera över hur man skulle strukturera klasserna på bästa sätt.
    </p>

    <h2 id="kmom03">Kmom03</h2>
    <h3>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</h3>
    <p>
        Jag tycker att det är ganska trevligt faktiskt. Något jag lagt märke till är att jag nästan tycker att det
        är lättare att utföra detta skede med papper och penna snarare än på datorn. Att sitta och mecka med någon
        programvara för att rita flödesdiagramet känns som att det blir lite jobbigare att göra. Har dock blivit bättre
        med draw.io nu för att rita UML och flödesdiagram vilket gör att det känns mer naturligt jämfört med första gångerna jag skulle göra det.
        Jag följde kanske inte strukturen helt för hur psuedokoden skulle se ut utan gick kanske lite mer mot naturligtspråk än
        vad exemplena visade. Jag tycker dock att det uppfyllde sin funktion.

    <h3>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</h3>
    <p>
        Jag är lite osäker kring om mitt sätt att hantera spelaren i relation till spelet var det bästa sättet.
        Hade det varit ett konsolprogram hade jag förmodligen gjort det lite annorlunda men nu byggde jag routes
        som gick att nå med knapparna på spelsidan där spelaren drog kort och slutade spela. Jag vet inte om lite
        för mycket logik kod möjligen hamnade i controllern här. I TwentyOneGame klassen kollade jag sedan bara om spelaren
        var klar eller inte.
    </p>
    <p>
        Jag gjorde först en implementation där jag inte hade någon klass gör själva spelet utan endast för spelarna.
        Detta resulterade i alldeles för mycket kod i controllern så jag valde att göra om det och skapa en TwentyOneGame klass.
        Jag kunde dock använda det mesta av det jag gjort innan fast bara flytta runt det lite. Det som gjorde det mycket enklare
        var att jag då kunde spara endast en instans av spelet i sessionen och inte en instans för spelare,bank och kortlek.
    </p>
    <p>
        Jag är osäker på om jag tänkt rätt angående dependecy injections.
        Jag ser till att för konstruktorn av TwentyOneGame så skickar jag in instanser av Player, Bank och Deck istället för att skapa dem i konstruktorn.
        Jag skapar dock bara instansen av TwentyOneGame med new TwentyOneGame(new Player(new CardHand()), new Bank(new CardHand()), new Deck());
        Jag antar att det då inte gör någon större skillnad egentligen. Här borde jag förmodligen nästa gång använda mig av ett interface nästa gång
        för att jag ska få någon potentiell nytta av dependecy injections.
    </p>

    <h3>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</h3>
    <p>
        Inga konstigheter än så länge. Jag tycker att det är ganska lättarbetat och inget som är ivägen.
        Det är trevligt att arbeta med session i symfony.
        Jag tycker även att faktum att man i php kan skicka in hela objekt i session jämfört med python där man
        måste serialisera objekt är en stor fördel.
    </p>

    <h3>Vilken är din TIL för detta kmom?</h3>
    <p>
        Att arbeta med hela problemlösningsflödet är kul. Både att tänka generellt och att passa in det till miljön man arbetar i.
    </p>

    <h2 id="kmom04">Kmom04</h2>
    <h3>
        Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.
    </h3>
    <p>
        Än så länge upplever jag det som ganska likt hur vi jobbade med tester i oopython-kursen. Jag tycker att det känns som en bra ide att arbeta med
        testerna antingen på med ett TDD tänk eller iallafall skriva testerna mer kontinuerligt. Fördelarna upplevs inte som riktigt lika stora när det skrivs i efterhand.
        Men det är förmodligen bättre att skriva testerna sent än aldrig. Arbetar jag vidare med koden nu så kan jag vara fortsatt försäkrad om att den nuvarande funktionaliteten består.
    </p>
    <h3>
        Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?
    </h3>
    <p>
        Jag nöjde mig vid 91% kodtäckning. Det fanns några enkla metoder till att testa men jag nöjde mig där.
    </p>

    <h3>
        Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som kan göras för att förbättra kodens testbarhet?
    </h3>
    <p>
        Jag tycker att det är lite svårt att veta hur vissa delar skulle testas. Exempelvis en sortering av kortleken.
        Om den endast sorteras enligt sort($this->cards) så blir testet av det lite konstigt kan jag tycka. Jag vet inte om jag borde hårdkoda i testet exakt
        den ordningen jag vill ha av mina kort likt [[A of spades], [A of hearts] ...]. 
        Jag har försökt jobba mycket med dependecy injections vilket jag tror har gjort koden mer testbar. 
    </p>

    <h3>
        Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.
    </h3>
    <p>
        Jag lade till lite kod när det kom till getters. Jag frågade om det i chatten också och lärde mig att det är lite gråskala på om det är något som strikt bör undvikas eller inte.
        Men nu är det gjort och får vara så tillsvidare så ska jag fundera igenom det lite extra nästa gång det uppstår. Jag tror nog att det vid vissa tillfällen hade lite med att göra gettern förmodligen var ett ganska naturlig del av api:t som ännu inte använts.
    </p>

    <h3>
        Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.
    </h3>
    <p>
        En del av designprinciperna som dependency injections förenklar åtminstone testning. Jag tror att om man arbeta med att skriva tester ofta så borde
        det kunna hjälpa att se till att man skriver den koden som faktiskt behövs och kanske förtydligar och delar upp koden på ett bättre sätt.
        Det är också rimligt att tänka sig att kod faktiskt måste vara testbar för att den ska fungera i stor skala och att "snygg och ren" kod då faktiskt
        i någon mån definieras av att den är testbar. Alltså kod kan endast klassas som snygg och ren om den är testbar.
    </p>

    <h3>
        Vilken är din TIL för detta kmom?
    </h3>
    <p>
        Övning med enhetstester. Jag vill bli bättre på det och arbeta med det mer kontinuerligt.
    </p>

    <h2 id="kmom05">Kmom05</h2>



    <h3>Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?</h3>
    <p>
        Jag tycker att det flöt på bra. Jag har tidigare arbetat med django där man på ett liknande sätt jobbar med att skapa migrations och sedan köra dem.
        Jag valde att använda sqlite3 för att göra det så enkelt som möjligt med setup osv.
    </p>

    <h3>Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet?</h3>
    <p>
        Min design bev ganska lik hur min eshop såg ut i databaskursen. På landningssidan visas alla böcker i en tabell med länkar för att uppdatera och ta bort varje enskild bok.
        Det går också att klicka på titeln för att visa upp en enskild bok. Jag valde att använda samma twig template för att visa upp en enskild bok som för att visa upp alla böcker.
        Sedan finns det en separat länk för att skapa en ny bok.
        Jag styleade inte mina forms något vilket hade kunnat vara en förbättring för att det skulle se snyggare ut. Men flödet fungerar annars ganska bra tror jag.
    </p>

    <h3>Gick det bra att jobba med ORM i CRUD eller vad anser du om det, jämför gärna med andra sätt att jobba med databaser?</h3>
    <p>
        Jämfört med hur vi arbetade i databaskursen så upplevdes detta som betydligt mer lättiillgängligt. 
        Det krävdes avsevärt mindre fixande för att få något så enkelt som CRUD att fungera. Det blir dock givetvis lite mer av magi känslan där det 
        kanske är lätthänt att man inte förstår hur varje steg går till då en hel del genereras automatiskt.
    </p>

    <h3>Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?</h3>
    <p>
        Att arbeta med en ORM förenklar saker och ting. Det blir färre steg och mindre tidskrävande än att arbeta med procedurer sparade i databasen.
        Eftersom att det är möjligt att lägga till egna querys till ett repository så verkar flexibiliteten vara ganska stor också.
        Att det blir mindre bundet till en specifik databas är också en fördel.

    <h3>Vilken är din TIL för detta kmom?</h3>
    <p>
        Att se likheter och skillnader för hur ORM ser ut i symfony jämfört med django var intressant.
    </p>

    <h2 id="kmom06">Kmom06</h2>


    <h3>
        Hur uppfattade du verktyget phpmetrics och fann du några särskilda bitar mer värdefulla än andra? Var det några särskilda metrics eller bilder du uppskattade?
    </h3>
    <p>
        Jag tycker faktiskt att ClassRank var en intressant metric. Överblicken där ger ett sätt att se vilka klasser
        som är allra viktigast. Jag tänker att det kan vara en bra riktlinje för vad som bör prioriteras högst för refactoring
        och för att skriva tester till. Det är ju förmodligen nära kopplat till affarent coupling. Finns det buggar i en sådan
        klass så är det mycket annat som kan gå snett i koden.
    </p>

    <h3>
        Berätta hur det gick att integrera med Scrutinizer och vilken är din första känsla av verktyget och dess badges? Vilken kodtäckning och kodkvalitet fick du efter första bygget?
    </h3>
    <p>Efter första bygget hade jag 9.87 på kodkvalitet och jag förbättrade det till 10.0.
        Kodtäckning gick från 27% till 28%. Det var inga större problem att integrera med scrutinizer.
        Första builden tog dock väldigt lång tid när PHP skulle byggas. Andra gången gick det dock mycket snabbare.
        Jag tänker att badges kan vara ett sätt att få en uppfattning om ett projekt är någorlunda välskött eller inte.
        Det är fömodligen inte någon 100% säkerhet att det är bra dock så det blir viktigt att inte stirra sig blind på dem.
    </p>

    <h3>
        Hur är din egen syn på kodkvalitet, berätta lite om den? Tror du man kan man påvisa kodkvalitet i någon viss mån med badges eller vad tror du?
    </h3>
    <p>
        Jag tror att badges kan vara en indikation på kvalitet. Det ger en uppfattning om det är ett vältestat eller ett kasst testat projekt.
        Jag tycker att det är lurigt hur controllers ska testas och när jag googlade gavs det förslag på att skriva funktionella test för dem snarare än unittester.
        Jag gjorde dock aldrig det men det skulle vara intressant att se om badges med kodtäckning förändras med funktionella tester eller inte.
        Jag tror att det är bra att arbeta med verktyg som linters och scrutinizer eftersom att det minskar risken att man börjar slarva med koden.
        Helst ska man väl vara så pass systematisk i sin utveckling att allt kommer ut grönt på andra sidan och verktygen vi arbetat med i detta kmom
        fungerar som ett sätt att bekräfta vi inte börjat slarva i processen.
    </p>

    <h3>
        Vilken är din TIL för detta kmom?
    </h3>
    <p>
        Jag hade ingen koll alls på verktyg som Scrutinizer eller PHPMetrics sedan innan så det vara bra att få doppa tårna i det och se om det är något
        som kan användas på egna projekt i framtiden.
    </p>

    <h2 id="kmom10">Kmom10</h2>
    <h3>Krav 1</h3>
    <p>
        Jag skapade en ny kontroller, ProjectController, som kommer att hantera routes för projektet.
        Jag lade till en ny route /proj som visar upp första sidan för projektet. Den rendrerar vyn
        project/proj.html.twig. Jag skapade också ett nytt base template för projektet som heter project/base.html.twig.
        I det templaten länkar jag till andra css/js filer. Dessa fick jag förbereda för encore i webpack.config.js genom
        att köra addEntry. Jag gjorde ordning en ny style i project.css där jag omarbetade min gamla style.
    </p>

{% endblock %}