{% extends "project/base.html.twig" %}

{% block title %}Om projektet{% endblock %}

{% block body %}
    <h1>Om projektet</h1>
    <p>
        Detta projekt är en implementation av spelet Blackjack.
        Det håller koll på tidigare spelare och deras saldon.
        Det håller också koll på tidigare spelomgångar och deras resultat.
        Utöver vanlig BlackJack så får spelaren också hjälp med att räkna korten enligt Hi-Lo systemet.
    </p>
    <a href="{{ path('about-project-database') }}">Om databasen</a>
{% endblock %}