{% extends "project/base.html.twig" %}

{% block title %}Projekt hem{% endblock %}

{% block body %}
    <h1>Om MVC</h1>

    <form method="post">
        <label for="name">Ditt namn:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" name="Skicka" value="Starta spelet"
        onClick="this.form.action='{{ path('proj-game') }}';this.form.method='post';"
        >
    </form>
{% endblock %}